.who-what-where {
    padding: 1.8rem;

}

.who-what-where #project-prez {
    min-height: 440px;
    position:relative;
}

.who-what-where .misc {
    position: absolute;
    bottom:0;
}

.toggle-handle {
    background: #6c757d;
}


.toggle.btn {
    border : 1px #6c757d solid;
}

.misc .toggle-group .btn {
    padding-top: 0;
    padding-bottom: 0;
    
}
.misc .toggle.btn {    
    min-height: 0;
}
.misc > .btn.edit {
    height: 22px;
    padding-top: 2px;
}


.consultant-row .consultant-data h4 {
    white-space: nowrap;
}
.slideshow {
    padding: .5rem;
}

.slideshow .project-data p {
    margin-bottom:.5rem;
}

.slideshow .consultant-picture img {
    border-radius: .25rem;
}

.slideshow .consultants .consultant-row {
    padding-bottom: .5rem;
}
.slideshow .consultants .consultant-row .consultant-picture {
    /*padding-top: .2rem;*/
    padding-bottom: .5rem;
}

.slideshow .consultants .consultant-row .consultant-picture img {
    /*padding-top: .2rem;*/
    max-height: 200px;
}

.slideshow > button.edit {
    font-size: 0.6em;
}
    /*.slideshow .controls {
        border: 1px;
        border-radius: .25rem;
        border-style: outset;
        border-color: whitesmoke;
    }*/